html,
body {
    height:100%;
    margin: 0;
    
}




.item1 { grid-area: header; 
    text-align: center !important; 
    font-size: 4em; padding:0 !important;}
.item2 { grid-area: menu;overflow:hidden;}
.item3 { grid-area: main; overflow-y:auto}
.item4 { grid-area: footer;}

.grid-container {
    height:100%;
    display: grid;
    grid-template-rows: 100px 40% auto;
    grid-template-columns: 250px auto;
    grid-template-areas:
    'header header'
    'menu main'
    'menu footer';
    grid-gap: 10px;
    background-color: rgb(139, 139, 139);
    padding: 10px;
    overflow-y: auto;
    
    align-items: stretch;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 20px;
}

.card-title{
    background-color: lightslategray;
    font-size: 1.5em;
    width:100%;
    white-space: nowrap;
}
.card-body{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#wicon{
    background-color: cadetblue;
    border-radius: 20px;
    max-width:100%;
    height:50px;
    width:50px;
}

p{
    font-size: 1.2em ;
}

#recent-list{
    background-color: none;
    margin-top: 10px;
    overflow:hidden;
}

#uv{
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

#recent-list{
    overflow-y: auto;
    height: inherit;
}

.forcast-container{
    display: flex;
    justify-content:space-around;
    overflow-y:auto;
    overflow-x: hidden;
    box-sizing:border-box;
    position: relative;
}



.forcast-card{
    width:100%
    position: absolute;
    box-sizing:border-box;
    border-radius: 10px;
    
    
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-areas:
        'header header'
        'menu main'
        'footer footer';
    }

}